@using JWTDemo.Client.Shared
@inherits LayoutComponentBase
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <JWTDemo.Client.Pages.LoginDisplay></JWTDemo.Client.Pages.LoginDisplay>
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
            <a href="https://youtu.be/TFIC7mAZOIU?si=7-RIyEbct_OT9UZu" target="_blank">Youtube</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
